.concept {
  display: flex;
  flex-wrap: wrap;

  &__image {
      flex-basis: 100%;
      padding-top: 150px;

      @media screen and (min-width: 769px) {
          flex-basis: 50%;
      }
  }

  &__text {
      flex-basis: 100%;
      flex-wrap: wrap;

      @media screen and (min-width: 769px) {
          flex-basis: 50%;
      }
  }

  &__title {
      font-family: Roboto, sans-serif;
      font-weight: bold;
      padding-top: 50px;
      color: #E5E5E5;
    }
}

.img {
  padding-top: 50px;
  padding-right: 97px;
}

.storyboard {
  max-width: 100%;
}



