header {
    background: #ededed;
    height: 80vh;
    width: 100vw;
    color: #333333;
  
    span {
     position:absolute;
     margin: 2rem;
    }
    .con-text {
      left: 40%;
      top: 30%;
  
      position: absolute;
      p {
        max-width: 30rem;
      }
    }
  }
  
  }