header {
  background: #ededed;
  position: absolute;
  height: 80vh;
  width: 100vw;
  color: #333333;
  top: 0;

  span.team_naam {
    position: absolute;
    margin: 0 auto;
    font-size: 2rem;
    margin: 2rem;
  }
  h1 {
    margin-bottom: 0.2rem;
  }
  .con-text {
    margin-left: 20%;
    max-width: 50rem;
  }
}
