

.box-grey {
    width: 387px;
    height: 303px;  
    padding: 50px;
    background-color:  #434343;
    // border: 1px solid red;

    &__title {
        padding-bottom: 25px;
        width: 136px;
        height: 40px;
        left: 40px;
        top: 2089px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;

        color: #C4C4C4;
    }

    &__content {
        width: 305px;
        height: 153px;
        left: 40px;
        top: 2154px;

        // padding-top: 87px;
        padding-bottom: 63px;
        padding-right: 42px; 

        /* light/body */

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #EDEDED;
    }
}

.box {
    width: 387px;
    height: 303px;  
    padding: 50px;
    left: 0px;
    background-color:  #2F2F2F;
    top: 2067px;
    // border: 1px solid red;

    &__title {
        padding-bottom: 25px;
        width: 136px;
        height: 40px;
        left: 40px;
        top: 2089px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;

        color: #C4C4C4;
    }

    &__content {
        width: 305px;
        height: 153px;
        left: 40px;
        top: 2154px;

        /* light/body */

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;

        color: #EDEDED;
    }
}
.container {
    display: flex;
}