//variables
$font-family: 'Roboto', sans-serif;
$primary-color: #434343;
$secundary-color: #47FFA7;
$white: #ffffff;

body {
    position: relative;
}

h1 {
    font-size: 70px;
    color: $primary-color;
    margin-bottom: 0;

    @media screen and (min-width: 700px) and (max-width: 1199px) {
        font-size: 100px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 150px;
    }
}

h2 {
    font-size: 25px;
    color: $white;
}

h3 {
    font-size: 24px;
    color: $secundary-color;
    position: relative;
    padding-left: 100px;

    &::after {
        position: absolute;
        display: block;
        content: '';
        height: 1px;
        width: 75px;
        background: #47FFA7;
        left: 0;
        top: 50%;
    }
}

.title__dot {
   color: #47ffa7;
}

p {
  font-size: 18px;
}

.content-wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 30px;
}

.link {
    color: $secundary-color;
    text-decoration: none;
    font-size: 20px;
}

.miroboard {
    &__link {
        background-color: #3cc784;
        padding: 13px 30px;
        font-size: 20px;
        display: inline-block;
        border-radius: 25px;
        text-decoration: none;
        color: white;
    }
}

.plus {
    position: absolute;
    transform: rotate(10deg);
    transform-origin: 50% 50%;
    width: 100px;
    height: 100px;

    &:before {
      content: "";
      width: 100px;
      height: 20px;
      display: block;
      background: #47FFA7;
      position: absolute;
      position: absolute;
      top: 40px;
    }

    &:after {
      content: "";
      height: 100px;
      width: 20px;
      display: block;
      background: #47FFA7;
      position: absolute;
      left: 40px;
    }
}

.circle-full {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: #47FFA7;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 100px;

    &__title {
        color: #434343;
        position: absolute;
        top: 44%;
        left: 29%;
        font-size: 23px;
        text-transform: uppercase;
    }
}

.top-button {
    z-index: 1;
    background-color: #3cc784;
    color: white;
    padding: 10px 20px;
    position: fixed;
    bottom: 20px;
    right: 48%;
    border-radius: 25px;
    text-decoration: none;
}

