h1 {
    font-size: 180px;
    color: #434343;
}

h2 {
    font-size: 30px;
    color: #ffffff;
}

h3 {
    font-size: 30px;
    color: #47FFA7;
}

.title__dot {
    color: #47FFA7;
}

p { 
    font-size: 24px
}
